flows.json
[{"id":"b5260a0e.156b38","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5785d6e6.041a48","type":"watson-conversation-v1","z":"b5260a0e.156b38","name":"Grocery Store Bot","workspaceid":"e918300f-e9f6-4859-8d4b-fd707a8dead0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d3758ded-f5da-45d1-a0bc-1ec62e032016","timeout":"","optout-learning":false,"x":290,"y":60,"wires":[["46f8cc59.415054"]]},{"id":"334bb9fb.ae3aa6","type":"inject","z":"b5260a0e.156b38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":90,"y":60,"wires":[["5785d6e6.041a48"]]},{"id":"59f7647b.187aac","type":"debug","z":"b5260a0e.156b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"46f8cc59.415054","type":"function","z":"b5260a0e.156b38","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["59f7647b.187aac","b23ddb39.c74338","d7a390e.d72837","8686fbf7.cd1f58"]]},{"id":"5d258e84.f72cd","type":"ui_form","z":"b5260a0e.156b38","name":"","label":"","group":"bc96df60.6947d","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["1734fa1a.bc3576"]]},{"id":"1734fa1a.bc3576","type":"function","z":"b5260a0e.156b38","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["5785d6e6.041a48","39b5f6e8.0f98ea"]]},{"id":"39b5f6e8.0f98ea","type":"ui_text","z":"b5260a0e.156b38","group":"bc96df60.6947d","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":320,"wires":[]},{"id":"b23ddb39.c74338","type":"ui_text","z":"b5260a0e.156b38","group":"bc96df60.6947d","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":260,"wires":[]},{"id":"d7a390e.d72837","type":"ui_audio","z":"b5260a0e.156b38","name":"","group":"bc96df60.6947d","voice":"en-US","always":"","x":620,"y":60,"wires":[]},{"id":"8686fbf7.cd1f58","type":"ui_template","z":"b5260a0e.156b38","group":"bc96df60.6947d","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":120,"wires":[[]]},{"id":"bc96df60.6947d","type":"ui_group","z":"","name":"Chatbot","tab":"99becb20.8276a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"99becb20.8276a8","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]